* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #FDFBF5;
}

html {
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html .horizontalLine {
  border: 1px solid black;
}

main {
  padding: 2rem;
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.page-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 2rem;
  width: 100%;
}
.page-1 p {
  opacity: 0.7;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1rem;
}
.page-1 h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 5rem;
}
.page-1 img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
}

.page-2 {
  display: flex;
  padding: 2rem;
}
.page-2 .left {
  width: 65%;
}
.page-2 .left .forStic {
  position: sticky;
  top: 4rem;
  z-index: 1000;
}
.page-2 .left p {
  font-size: 1.5rem;
}
.page-2 .left h1 {
  margin-top: 2rem;
  font-size: 5rem;
  font-weight: 500;
  line-height: 4.5rem;
}
.page-2 .verticalLine {
  border: 1px solid black;
  padding-top: 3rem;
}
.page-2 .right {
  width: 35%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-left: 4rem;
}
.page-2 .right img {
  width: 6rem;
}
.page-2 .right h2 {
  font-size: 2rem;
  font-size: 100;
}
.page-2 .right p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  opacity: 0.9;
}
.page-2 .right .horizontalLine {
  border: 1px solid black;
}

.page-3 {
  width: 100%;
  display: flex;
  padding: 2rem;
}
.page-3 .left {
  width: 40%;
}
.page-3 .left h1 {
  font-size: 3rem;
}
.page-3 .left p {
  font-size: 1.6rem;
  margin-top: 2rem;
}
.page-3 .verticalLine {
  border: 1px solid black;
}
.page-3 .right {
  width: 60%;
  display: grid;
  grid-template-rows: repeat(2, 30vw);
  grid-template-columns: repeat(2, 25vw);
  gap: 2rem;
  padding: 1rem;
}
.page-3 .right .box {
  width: 100%;
  height: 100%;
}
.page-3 .right .box video {
  width: 100%;
  margin: 1vw auto;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}
.page-3 .right .box h3 {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: 500;
}
.page-3 .right .box p {
  text-transform: uppercase;
  opacity: 0.7;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 7.68px;
  }
  .page-1 {
    row-gap: 4rem;
  }
  .page-1 p {
    font-size: 2rem;
  }
  .page-1 h1 {
    font-size: 8rem;
    line-height: 7rem;
  }
  .page-2 {
    display: block;
  }
  .page-2 .left {
    width: 100%;
  }
  .page-2 .left p {
    font-size: 2.5rem;
  }
  .page-2 .left h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .page-2 .verticalLine {
    display: none;
  }
  .page-2 .right {
    margin-top: 2rem;
    width: 100%;
    padding-left: 0;
  }
  .page-2 .right img {
    width: 14rem;
  }
  .page-2 .right h2 {
    font-size: 4rem;
  }
  .page-2 .right p {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .page-2 .right .horizontalLine {
    margin-top: 5rem;
  }
  .page-3 {
    display: block;
  }
  .page-3 .left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .page-3 .left h1 {
    font-size: 4rem;
  }
  .page-3 .left p {
    font-size: 3rem;
    line-height: 3rem;
  }
  .page-3 .right {
    margin: 0;
    padding: 0;
    margin-top: 4rem;
    display: block;
    width: 100%;
  }
  .page-3 .right video {
    width: 100%;
  }
  .page-3 .right .box {
    margin-bottom: 3rem;
    padding-left: 0;
  }
  .page-3 .right .box h3 {
    font-size: 4rem;
  }
  .page-3 .right .box p {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=style.css.map */